@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.login-page-container {
  display: flex;
  background-color: #e5e5e5;
}

.image-container {
  background-image: url('https://res.cloudinary.com/dfbqrhoxt/image/upload/v1669306366/Rectangle_1467login-image_e4ctxb.png');
  width: 780px;
  height: 1024px;
}
.login-form-container {
  position: absolute;
  width: 499px;
  height: 484px;
  left: 852px;
  top: 270px;

  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.logo-text {
  /* width: 87px;
  height: 17px; */

  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */

  color: #0284c7;
}

.fields-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  height: 90px;
  margin-top: 20px;
}
.input-container {
  box-sizing: border-box;

  width: 360px;
  height: 56px;

  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 8px;
  padding-left: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #183b56;
}
.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5a7184;
  margin-bottom: 10px;
}

.login-btn {
  width: 360px;
  height: 56px;
  background: #0284c7;
  border-radius: 8px;
  color: white;

  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #ffffff;
  border: none;
}
.btn-container {
  margin-top: 20px;
}
.error-msg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ef4444;
}
.error-msg-container {
  align-self: center;
  margin-top: 0;
}
